$blue: #008bd0;
$blue-second: #00a0fd;

$white: #fff;


$blue-gradient: #008bd012;

$green-first: #20c997;

$orange-fist: #ffc107;

$red-first: #dc3545;


.dropdown-item {
    font-size: 14px;
}
.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-link.active,
.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-link:hover,
.btn-primary,
.badge-primary,
.bg-primary,
.pill-badge-primary{
    background-color: $blue !important;
}

.btn-primary .btn-outline-primary {
    border-color: $blue !important;
}

.table-hover tbody tr:hover th, 
.table-hover tbody tr:hover td,
.btn-primary-light,
.page-main-header .main-header-right .nav-right ul li svg,
.page-wrapper .page-body-wrapper .page-header .breadcrumb .breadcrumb-item a,
.page-main-header .main-header-right .toggle-sidebar svg,
a,
a:hover,
.login-form .form-group .input-group-text,
.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .sidebar-main-title > div h6,
.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-submenu li a,
.btn-outline-primary,
.recent-order-sec .table tr:hover td,
.recent-order-sec .table tr:hover p
{
    color: $blue;
}

.table-hover tbody tr:hover,
.btn-primary-light,
.page-main-header .main-header-right .toggle-sidebar:hover,
.login-form .form-group .input-group-text,
.login-card,
.recent-order-sec .table tr:hover {
    background-color: $blue-gradient !important;
}

.cursor-pointer {
    cursor: pointer;
}

a:hover {
    color: #2db9ff;
}

.bg-success, 
.pill-badge-success {
    background-color: $green-first !important;
}

.bg-warning,
.pill-badge-warning {
    background-color: $orange-fist !important;
}

.bg-danger,
.pill-badge-danger {
    background-color: $red-first !important;

    .media.static-top-widget .align-self-center {
        background-color: $red-first !important;
    }
}

.font-primary {
    color: $green-first !important;
}

.font-danger {
    color: $red-first !important;
}

.badge {
    font-size: 11px !important;
}


.page-main-header .main-header-right .nav-right .btn-primary-light{
    
    svg path{
        color: $blue-second !important;
    }

    &:hover{
        background-color: $blue-second !important;

        svg{
            color: $white;
        }
    }
}

@media(min-width: 480px) {
    .logo-wrapper{
        .img-fluid {
            max-width: 50%;
        }
    }
}